/*
 * conf/singularity.config
 * Singularity / Apptainer container profile.
 * Usage: nextflow run main.nf -profile singularity ...
 */

singularity {
    enabled    = true
    autoMounts = true
    // Pull from Docker Hub if not cached
    runOptions = "--bind /tmp"
}

process {
    container = "docker://somatic-variants:latest"
}
